/* Estilos generales */
body {
    margin: 0;
}

.header {
    background-color: #add8e6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    height: 50px;
}

.login-button {
    background-color: #ffffff;
    border: 1px solid #007bff;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

/* Estilos del modal */
.modal {
    display: none; /* Ocultar modal por defecto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro transparente */
}

.modal-content {
    background-color: #fff;
    margin: 15% auto; /* Centrado verticalmente */
    padding: 20px;
    border: 1px solid #888;
    width: 300px; /* Ancho del modal */
    border-radius: 10px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Botón de login y registro */
.login-button, .register-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.register-button:hover {
    background-color: #28a745; /* Color para el botón de registrarse */
}

/* El resto de estilos ya están definidos para el modal y el formulario */
