
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Clases</title>
        <link rel="icon" href="../static/images/favicon.png" type="image/png">
    </head>

    <body>
        <h1>Mago</h1>
        <p>Un mago es todo individuo que aprende a canalizar maná a través de su alma para manifestar su magia
            en forma de poderosos hechizos. Son débiles en cuerpo, pero su poder destructivo y versatilidad los hacen
            indispensables en cualquier equipo.
        </p>
        <h2>Características</h2>
        <h3>Salud, Maná, Resistencia</h3>
        <p>
            Salud a nivel 1: 6 + tu modificador de Resistencia<br>
            Salud después de nivel 1: Añadir 1d6 (o 4) + tu modificador de Resistencia cada nivel.<br>
            Maná a nivel 1: 6 + tu modificador de capacidad.<br>
            Maná despues de nivel 1: Añadir 1d8 (o 6) + tu modificador de capacidad cada nivel.<br>
            Resistencia a nivel 1: 4 + tu bonificador de agilidad<br>
            Resistencia despues de nivel 1: Añadir 1d4 + tu modificador de agilidad cada nivel<br>
        </p>
        <h3>Competencias</h3>
        <p>
            Armadura: Ninguna<br>
            Armas: Dagas, dardos, hondas, bastones, ballestas ligeras<br>
            Tiradas de salvación: Poder, Control, Capacidad<br>

        </p>
        <h3>Subclase</h3>
            <p>Desde nivel 1, puedes escoger una subclase.</p>
        
        <h4><a href='mago/hechicero'>Hechicero</a></h4>
        <p>
           Los hechiceros pasan toda su vida investigando, estudiando y meditando profundamente sobre la naturaleza de su maná.<br>
           De esta forma, son capaces de cultivar y canalizar su propia magia a placer.<br>
           Como Hechicero, debes escoger un origen particular para tu magia.
        </p>
        <h5>Herencia Dracónica</h5>
        <p>Tu magia viene de un poder innato que ha sido imbuido en tu sangre o en la de tus ancestros a través de un contrato, un regalo o mediante actos carnales. La mayoría de familias transmiten este encuentro de padres a hijos, de modo que puedes identificar qué antepasado desató este poder en tu linaje.</p>
        <h5>Superviviente del cataclismo</h5>
        <p>Tú o uno de tus antepasados sobrevivisteis a un evento apocalíptico que involucró una gran cantidad de maná. La historia de este evento puede transmitirse de padres a hijos, narrado como el momento que bendijo tu linaje con increíble magia, o como la desdicha que maldijo a todos tus descendientes. Sea como sea, tu magia innata es tan inestable e impredecible como poderosa y temible.</p>
        <h5>Intervención Divina</h5>
        <p>Tu poder está estrechamente relacionado con una deidad particular. Tú o un antepasado tuyo habéis sido testigos muy cercanos de una intervención divina. El evento os dejó marcados de por vida, y esta marca se ha transmitido en tu familia desde entonces.</p>
        <h5>Engendro del Caos</h5>
        <p>Eres una de esas personas que a veces aparecen espontáneamente en las ciudades. No tienes familia, recuerdos y la mayoría de personas te ven como un ser antinatural y peligroso, por lo que te has inventado una historia genérica y has comenzado tu nueva vida. Tienes una particular afinidad por la Magia del Caos, sientes una extraña ansia oscura en tu interior, aunque no sabes muy bien expresar qué es.</p>
        <h5>Herencia de la Necroplaga</h5>
        <p>Eres uno de los pocos supervivientes de brote de una enfermedad mágica que asoló tu ciudad. Marcado de por vida con decenas de cicatrices en tu cuerpo, tu alma parece haber quedado infusionada con la esencia de esta enfermedad y te has convertido en una plaga andante.</p>
        <h5>Azote de las Estrellas</h5>
        <p>Naciste bajo un cielo cubierto de estrellas fugaces, cometas y meteoritos. Esta alineación celestial te otorgó la capacidad de controlar la gravedad y las estrellas, una magia poderosa y casi única.</p>
        <h5>Sin origen</h5>
        <p>Por un motivo u otro, has decidido estudiar en profundidad tu alma y naturaleza. Has conseguido despertar el poder en tu interior, y ahora puedes manipular tu magia a voluntad. Lo que hagas con ella está en tus manos.</p>




        <h4><a href='mago/clerigo'>Clérigo</a></h4>
        <p>Los clérigos dedican su tiempo a rezar a los Patrones y Dioses de la Tierra. Moldeando su vida para complacer a estos entes, 
            son capaces de canalizar la energía del mundo para desatar poderosa y antigua magia.<br>
            Como clérigo, debes escoger un Dios o Patrón al que seguir.</p>
        
        <h5>Yses, Dios de la Destrucción</h5>
        <p>La destrucción no es un acto de maldad para Yses, sino un imperativo natural, una fuerza que abre el camino para lo nuevo. Cada ruina es el preludio de un renacimiento, cada incendio el abono de un futuro floreciente. Es adorado por aquellos que creen que el cambio solo llega con el sacrificio de lo viejo: revolucionarios, magos obsesionados con el poder absoluto, y guerreros que ven la devastación como una obra de arte.</p>
        <p>El poder de Yses es devastador y sin restricciones, canalizando llamas inmensas y ondas explosivas que consumen todo a su paso</p>
        
        <h5>Okran, Diosa de la Creación</h5>
        <p>Okran representa la chispa creativa que impulsa a los mortales a construir, imaginar y crecer. Es la madre de los inventos, la vida y la transformación, y sus seguidores creen que cada obra, desde una humilde escultura hasta una gran ciudad, es un homenaje a su grandeza. Sus templos son talleres y bibliotecas, llenos de proyectos a medio terminar y voces inspiradas</p>
        <p>El poder de Okran se enfocan en dar forma al mundo y proteger a quienes lo habitan.</p>
        
        <h5>Thyr, Dios del Engaño, Conocimiento y Control</h5>
        <p>Thyr no busca destruir ni construir, sino aprovecharse del caos inherente al mundo. Es el dios de los estrategas y manipuladores, de quienes confían en su astucia para salir adelante. Sus devotos ven las reglas como una herramienta para los necios, y a menudo operan en las sombras, manejando los hilos de grandes conflictos o resolviendo sus propios problemas con tácticas inesperadas.</p>
        <p>El poder de Thyr está diseñado para tomar el control de cualquier situación, ya sea a través de la manipulación directa o el engaño sutil.</p>
        
        <h5>Ne-Crón, Heraldo de la Muerte y el Fin</h5>
        <p>Necro no es un dios en el sentido convencional, peri sí es benerado como tal. Es un heraldo, una entidad que guía la transición entre la vida y la muerte. Su misión no es maligna; es una fuerza inevitable que asegura que el ciclo de la vida continúe. Es venerado por aquellos que aceptan la muerte como parte natural del mundo y por necromantes que buscan el poder de los muertos para cumplir sus objetivos.</p>
        <p>El poder de Necro te conecta con los muertos, permitiéndote controlarlos y usar la esencia de la muerte como arma.</p>
        
        <h5>Crón, Dios del Tiempo y el Destino</h5>
        <p>Cron no es un dios que exija veneración, sino una fuerza que observa desde el principio hasta el final de los tiempos. Cree que el tiempo y el destino son herramientas que los mortales pueden moldear, pero solo aquellos con la fuerza suficiente para soportar las consecuencias. Sus templos son extraños relojes de engranajes eternos y arenas que nunca dejan de fluir.</p>
        <p>Tus habilidades juegan con el flujo del tiempo, permitiéndote manipular eventos para crear ventaja o evitar el desastre.</p>
        
        <h5>Hakari, Dios de la Fortuna</h5>
        <p>Hakari es la encarnación de la suerte en todas sus formas, tanto la gloriosa como la cruel. A menudo representado como un viajero despreocupado con una sonrisa misteriosa, Hari no distingue entre el bien y el mal: simplemente lanza los dados del destino y observa los resultados. Sus seguidores lo veneran como una fuerza impredecible que puede cambiar vidas en un instante, ya sea otorgando riquezas inmensas o hundiendo a los poderosos en la ruina.</p>
        <p>Tus habilidades juegan con la suerte, el azar y las apuestas. Quienes canalizan su magia pueden alterar la fortuna a su favor o sembrar el caos a su alrededor, aunque las consecuencias a menudo son impredecibles.</p>

    


        <h1>Guerrero</h1>
        <p>Los guerreros son individuos que emplean la fuerza física como medio de defensa, crecimiento y expresión. Suelen ser nobles, o al menos siguen un código moral, y usan todo tipo de armas. Son fuertes físicamente y temibles a corta distancia, pero carecen de la versatilidad de un mago o un pícaro.
        </p>
        <h2>Características</h2>
        <h3>Salud, Maná, Resistencia</h3>
        <p>
            Salud a nivel 1: 8 + tu modificador de Resistencia<br>
            Salud después de nivel 1: Añadir 1d10 (o 6) + tu modificador de Resistencia cada nivel.<br>
            Maná a nivel 1: 4 + tu modificador de capacidad.<br>
            Maná despues de nivel 1: Añadir 1d8 (o 6) + tu modificador de capacidad cada nivel.<br>
            Resistencia a nivel 1: 8 + tu bonificador de agilidad<br>
            Resistencia despues de nivel 1: Añadir 1d10 + tu modificador de agilidad cada nivel<br>
        </p>
        <h3>Competencias</h3>
        <p>
            Armadura: Todas, escudos<br>
            Armas: Armas simples, armas marciales<br>
            Tiradas de salvación: Fuerza, Resistencia<br>

        </p>
        <h3>Subclase</h3>
            <p>Desde nivel 1, puedes escoger una subclase.</p>
        
        <h4><a href='guerrero/paladin'>Paladín</a></h4>
        <p>
            Los paladines son caballeros afiliados a una orden de un Dios o Patrón concreto. 
            Aunque pueden manifestar la magia de su Dios al igual que un clérigo, luchan cuerpo a cuerpo 
            y a menudo llevan armaduras y armas pesadas.
        </p>
        <h5>Yses, Dios de la Destrucción</h5>
        <p>Los paladines de Yses son escasos y mal vistos, pues se dedican a la guerra constante. Rara vez se les ve en los templos, pues el campo de batalla es su lugar. Llevan a cabo guerras santas y saqueos contra la nación de turno, enemistada por los altos sacerdotes.</p>
        <p>Si bien utilizan la magia de Yses, no desatan poderosos hechizos destructivos. Normalmente la utilizan de forma complementaria para mejorar el poder de sus golpes o para atacar desde lejos.</p>
        <p>Su juramento les lleva a buscar el combate, atacar activamente al actual enemigo jurado de la fe y saquear todo asentamiento.</p>

        <h5>Okran, Diosa de la Creación</h5>
        <p>Los paladines de Okran, pese a estar entrenados en combate, tienen un estricto código en contra de la violencia. Son guardias de ciudades, de caravanas comerciantes y de grandes nobles.</p>
        <p>Su magia muchas veces se centra en la curación y la defensa, aunque disponen de algún hechizo ofensivo.</p>
        <p>Su juramento les manda proteger a los desfavorecidos, ayudar a los pobres y, si así lo dictan los altos sacerdotes, destruir a cualquier amenaza irredimible.</p>

        <h5>Thyr, Dios del Engaño, Conocimiento y Control</h5>
        <p>Los paladines de Thyr son, posiblemente, los más organizados de todos. Forman un gremio con sedes en la mayoría de ciudades grandes, desde las que organizan expediciones a antiguas ruinas del viejo mundo para robar tecnología.</p>        
        <p>Su magia deja lo ofensivo de lado y se centra en apoyarles y adaptarles a los ambientes extraños y hostiles de las ruinas.</p>      
        <p>Su juramento les lleva a cumplir sus objetivos sin importar los medios, ya sean robar, engañar o incluso matar.</p>

        <h5>Ne-Crón, Heraldo de la Muerte y el Fin</h5>
        <p>Los paladines de Thyr son los más desorganizados de lejos. Carecen de una estructura definida y jerarquía alguna, sino que los propios paladines covierten a demás a su fe.</p>        
        <p>Su magia utiliza la muerte y la necromancia como medio para cumplir sus contratos.</p>    
        <p>Los paladines de Necrón reciben en sus sueños contratos para matar a determinadas personas, a veces embarcándose en viajes hasta la otra punta del mundo.</p>

        <h5>Crón, Dios del Tiempo y el Destino</h5>
        <p>Los paladines de Cron son una ocurrencia extremadamente inusual. Rara vez se dejan ver y cuando lo hacen es solo por unos pocos minutos. Son una orden que se dedica a mantener el equilibrio en el mundo, o al menos lo que ellos entienden por equilibrio.</p>        
        <p>Su magia es facilmente utilizable en combate, aunque no se enfoca totalmente en esta, sino en contrarrestar eventos pasados y prevenir los futuros.</p>    
        <p>Los paladines de Crón no tienen un gremio conocido. Sus paladines no se ven en público y nadie sabe cómo convertirse en uno. Aparecen en momentos de extrema gravedad para poner orden.</p>
    
        <h4><a href='guerrero/ronin'>Ronin</a></h4>

        <p>Aunque no necesariamente son repudiados sociales, los ronin acostumbran a no quedarse demasiado en un mismo sitio.
           Buscan perfeccionar el arte de la espada, cultivar su cuerpo y enriquecer su mente, y para ello vagan por el
           mundo en busca de desafíos.</p>

        <h5>Espadachín Oscuro</h5>
        <p>
            Nombrados así en honor a una vieja leyenda, estos guerreros no suelen trabajar con aliados. <br>
            Su estilo de combate se centra en el combate rápido y directo, sin pensar en tácticas ni trabajo en equipo.<br>
            Son tan letales como frágiles.
        </p>
            
        <h5>Guardián</h5>
        <p>
            Los guardianes toman un rol defensivo durante el combate, captando la atención del enemigo y 
            desviando el daño hacia ellos mismos.<br>
            Se centran en la defensa y el control de adversario más que en causar daño.
        </p>

        
        <h5>Filo del Cielo</h5>
        <p>
            Un estilo único y poco convencional que se basa en el combate aéreo. Estos guerreros buscan siempre atacar desde 
            la altura para asestar golpes letales sin que sus enemigos sepan de donde han salido.
        
        </p>

        <h5>Samurai</h5>
        <p>
            Los samurais se enfocan en los combates uno contra uno, incluso durante grandes batallas campales.<br>
            Obtienen beneficios y mejoras siempre que se enfoquen en atacar a un mismo enemigo.
        </p>



        <h4><a href='guerrero/barbaro'>Barbaro</a></h4>
        <p>
            Los bárbaros son guerreros deseosos de mancharse de sangre, de probar su fuerza y sentir la emoción de la batalla.
            Se lanzan de cabeza a la batalla sin pensar en nada, a menudo consumidos por el calor del combate y 
            siempre respaldados por su fuerza sobrehumana.
        </p>

        <h5>Berserker</h5>
        <p>
            Los Berserkers son famosos y temidos por lanzarse al combate enloquecidos, descuidando por completo su seguridad.<br>
            Ignoran el dolor de sus heridas mientras atacan salvajemente. La ira de algunos es tal que pueden incluso evitar la muerte
            por unos segundos.
        </p>


        <h5>Ariete</h5>
        <p>
            Estos bárbaros tienen un estilo de combate particular. En lugar de empuñar un arma, portan una gran armadura y utilizan
            su cuerpo para atacar. Placajes, empujones, simples puñetazos... Todo vale.
        </p>

        <h5>Bestia</h5>
        <p>
            Las bestias canalizan su furia a través de la esencia animal que hay en su alma. Transforman partes de cuerpo en letales
            garras de oso, colmillos de lobo, cuernos de alce. Algunos llegan incluso a manifestar el poder de los dragones.
        </p>


        <h1>Pícaro</h1>
        <p>
            Los pícaros. si bien en su mayoría aventureros, no se centran en el combate directo. Son exploradores, ladrones, bardos...
            Emplean carisma e inteligencia por igual para resolver los conflictos pacíficamente, aunque para nada están indefensos en
            combate.
        </p>
        <h2>Características</h2>
        <h3>Salud, Maná, Resistencia</h3>
        <p>
            Salud a nivel 1: 6 + tu modificador de Resistencia<br>
            Salud después de nivel 1: Añadir 1d6 (o 4) + tu modificador de Resistencia cada nivel.<br>
            Maná a nivel 1: 2 + tu modificador de capacidad.<br>
            Maná despues de nivel 1: Añadir 1d4 (o 2) + tu modificador de capacidad cada nivel.<br>
            Resistencia a nivel 1: 8 + tu bonificador de agilidad<br>
            Resistencia despues de nivel 1: Añadir 1d10 + tu modificador de agilidad cada nivel<br>
        </p>
        <h3>Competencias</h3>
        <p>
            Armadura: Ligera<br>
            Armas: Armas simples, ballestas de mano, arcos<br>
            Tiradas de salvación: Inteligencia, Carisma<br>

        </p>
        <h3>Subclase</h3>
        <p>Desde nivel 1, puedes escoger una subclase.</p>
    
        <h4><a href='picaro/asesino'>Asesino</a></h4>
        <p>
            Los Asesinos son, con frecuencia, ladrones. Son la imagen en la que uno piensa cuando habla de un pícaro. Criminales,
            ladrones o simplemente justicieros incomprendidos, casi siempre funcionan al margen de la ley, o en contra de esta.
        </p>
        

        <h5>Sicario</h5>
        <p>
            Los sicarios se enfocan en el arte de matar. Emplean el sigilo para desaparecer en combate y asestar golpes letales sin ser
            descubiertos. Nunca sabes de donde vienen sus ataques.
        </p>

        <h5>Ladrón</h5>
        <p>
            Los ladrones se enfocan en el sigilo y el robo. Saben bien como forzar cerraduras, vaciar bosillos y, si la cosa se pone fea,
            donde clavar un cuchillo.
        </p>



        <h4><a href='picaro/explorador'>Explorador</a></h4>
        <p>
        Los exploradores son expertos en el reconocimiento del campo de batalla. Son los primeros en llegar a cualquier lado,
            y siempre lo hacen por el mejor camino. Su vista aguda y entrenada les da una percepción sobrehumana, su amplio conocimiento
            de supervivencia les permite deambular por los terrenos más inhospitos...
        </p>

        <h5>Guardabosques</h5>

        <p>
            Los guardabosques suelen ser nómadas indígenas, aunque también vienen de países avanzados. Saben moverse 
            de forma segura entre la peligrosa fauna y flora, son expertos en caza y recolecta y saben manejar a las bestias.
        </p>

        <h5>Reconocimiento</h5>
        Los Recon. suelen ostentar cargos militares. Van a la cabeza del ejército, vigilando que el camino sea seguro y advirtiendo
        de todo problema a sus generales. Durante el combate, utilizan sus enormes arcos para dar apoyo desde la altura.
        <p>

        </p>
        <h4><a href="picaro/bardo">Bardo</a></h4>
        <p>
            Los bardos son un tipo bastante poco convencional de mago. Canalizan su magia a través de la música, 
            pues no tienen un conocimiento estricto de esta, sino un talento natural. Se dejan llevar por el instinto para invocar
            poderosos encantamientos que afecta a amigos y enemigos por igual.

        </p>

        <h5>Escuela de la Elocuencia</h5>
        <p>
            Estos bardos son expertos del uso de la palabra. Persuaden, seducen y engañan a cualquiera, siempre consiguen lo que 
            quieren sin recurrir a la violencia. Su magia los hace capaces
        </p>
        
        <h5>Escuela del Valor</h5>
        <p>
            Estos bardos inspiran confianza en los demás de forma natural. Suben la moral de los ejércitos y son el pegamento
            que une grupos de aventureros.
        </p>

        <h5>Escuela de la Historia</h5>
        <p>
            Estos bardos saben un poco de casi todo. Toman información de todos lados, desde antiguos escritos hasta viejas leyendas
            y rumores. Aunque buscan preservar la verdad, no dudarán en tergiversarla para moldear las creencias de los demás en su favor.

        </p>




        <h4><a href="picaro/Monje">Monje</a></h4>
    
        <p>
            En cierto modo, los monjes son una especie de mago. Sus cuerpos utilizan el maná como fuente de energía, lo que
            les permite amplificar sus cualidades físicas hasta niveles immesurables.
        </p>

        <h5>Avatar</h5>
        <p>
            La vieja leyenda del Avatar es, probablemente, lo primero que escuchan los monjes primerizos al comenzar su entrenamiento.<br>
            Buscan una armonía interna que les permita controlar a voluntad los cuatro elementos; tierra, fuego, agua y aire.

        </p>

        <h5>Sombra</h5>
        <p>
            Estos monjes se enfocan en el sigilo y el subterfugio. Son representantes de familias ricas y grandes reyes, 
            espías de gobiernos y asesinos para los más ricos e influyentes. A menudo forman clanes en los que cultivan en secreto sus artes,
            aunque algunos de estos clanes funcionan más como organizaciones subterráneas.
        </p>


        <h5>Calma</h5>
        <p>
            La paz no es solo un estado mental, sino del alma. La armonía que nace de ella puede llegar a ser tal que estos monjes
            la transmiten de forma inconsciente a todos a su alrededor. Emplean la violencia como último recurso pero,
            cuando lo hacen, rara vez es letal.
        </p>

    </body>
</html>