
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Clases</title>
        <link rel="icon" href="../static/images/favicon.png" type="image/png">
    </head>

    <body>
        <h1>Mago</h1>
        <p>Un mago es todo individuo que aprende a canalizar maná a través de su alma para manifestar su magia
            en forma de poderosos hechizos. Son débiles en cuerpo, pero su poder destructivo y versatilidad los hacen
            indispensables en cualquier equipo.
        </p>
        <h2>Características</h2>
        <h3>Salud, Maná, Resistencia</h3>
        <p>
            Salud a nivel 1: 6 + tu modificador de Resistencia<br>
            Salud después de nivel 1: Añadir 1d6 (o 4) + tu modificador de Resistencia cada nivel.<br>
            Maná a nivel 1: 6 + tu modificador de capacidad.<br>
            Maná despues de nivel 1: Añadir 1d8 (o 6) + tu modificador de capacidad cada nivel.<br>
            Resistencia a nivel 1: 4 + tu bonificador de agilidad<br>
            Resistencia despues de nivel 1: Añadir 1d4 + tu modificador de agilidad cada nivel<br>
        </p>
        <h3>Competencias</h3>
        <p>
            Armadura: Ninguna<br>
            Armas: Dagas, dardos, hondas, bastones, ballestas ligeras
            Tiradas de salvación: Poder, Control, Capacidad

        </p>
        <h3>Subclase</h3>
            <p>Desde nivel 1, puedes escoger una subclase.</p>
        
        <h4><a href='hechicero'>Hechicero</a></h4>
        <p>
           Los hechiceros pasan toda su vida investigando, estudiando y meditando profundamente sobre la naturaleza de su maná.<br>
           De esta forma, son capaces de cultivar y canalizar su propia magia a placer.<br>
           Como Hechicero, debes escoger un origen particular para tu magia.
        </p>
        <h5>Herencia Dracónica</h5>
        <p>Tu magia viene de un poder innato que ha sido imbuido en tu sangre o en la de tus ancestros a través de un contrato, un regalo o mediante actos carnales. La mayoría de familias transmiten este encuentro de padres a hijos, de modo que puedes identificar qué antepasado desató este poder en tu linaje.</p>
        <h5>Superviviente del cataclismo</h5>
        <p>Tú o uno de tus antepasados sobrevivisteis a un evento apocalíptico que involucró una gran cantidad de maná. La historia de este evento puede transmitirse de padres a hijos, narrado como el momento que bendijo tu linaje con increíble magia, o como la desdicha que maldijo a todos tus descendientes. Sea como sea, tu magia innata es tan inestable e impredecible como poderosa y temible.</p>
        <h5>Intervención Divina</h5>
        <p>Tu poder está estrechamente relacionado con una deidad particular. Tú o un antepasado tuyo habéis sido testigos muy cercanos de una intervención divina. El evento os dejó marcados de por vida, y esta marca se ha transmitido en tu familia desde entonces.</p>
        <h5>Engendro del Caos</h5>
        <p>Eres una de esas personas que a veces aparecen espontáneamente en las ciudades. No tienes familia, recuerdos y la mayoría de personas te ven como un ser antinatural y peligroso, por lo que te has inventado una historia genérica y has comenzado tu nueva vida. Tienes una particular afinidad por la Magia del Caos, sientes una extraña ansia oscura en tu interior, aunque no sabes muy bien expresar qué es.</p>
        <h5>Herencia de la Necroplaga</h5>
        <p>Eres uno de los pocos supervivientes de brote de una enfermedad mágica que asoló tu ciudad. Marcado de por vida con decenas de cicatrices en tu cuerpo, tu alma parece haber quedado infusionada con la esencia de esta enfermedad y te has convertido en una plaga andante.</p>
        <h5>Azote de las Estrellas</h5>
        <p>Naciste bajo un cielo cubierto de estrellas fugaces, cometas y meteoritos. Esta alineación celestial te otorgó la capacidad de controlar la gravedad y las estrellas, una magia poderosa y casi única.</p>
        <h5>Sin origen</h5>
        <p>Por un motivo u otro, has decidido estudiar en profundidad tu alma y naturaleza. Has conseguido despertar el poder en tu interior, y ahora puedes manipular tu magia a voluntad. Lo que hagas con ella está en tus manos.</p>




        <h4><a href='clerigo'>Clérigo</a></h4>
        <p>Los clérigos dedican su tiempo a rezar a los Patrones y Dioses de la Tierra. Moldeando su vida para complacer a estos entes, 
            son capaces de canalizar la energía del mundo para desatar poderosa y antigua magia.<br>
            Como clérigo, debes escoger un Dios o Patrón al que seguir.</p>
        
        <h5>Yses, Dios de la Destrucción</h5>
        <p>La destrucción no es un acto de maldad para Yses, sino un imperativo natural, una fuerza que abre el camino para lo nuevo. Cada ruina es el preludio de un renacimiento, cada incendio el abono de un futuro floreciente. Es adorado por aquellos que creen que el cambio solo llega con el sacrificio de lo viejo: revolucionarios, magos obsesionados con el poder absoluto, y guerreros que ven la devastación como una obra de arte.</p>
        <p>El poder de Yses es devastador y sin restricciones, canalizando llamas inmensas y ondas explosivas que consumen todo a su paso</p>
        
        <h5>Okran, Diosa de la Creación</h5>
        <p>Okran representa la chispa creativa que impulsa a los mortales a construir, imaginar y crecer. Es la madre de los inventos, la vida y la transformación, y sus seguidores creen que cada obra, desde una humilde escultura hasta una gran ciudad, es un homenaje a su grandeza. Sus templos son talleres y bibliotecas, llenos de proyectos a medio terminar y voces inspiradas</p>
        <p>El poder de Okran se enfocan en dar forma al mundo y proteger a quienes lo habitan.</p>
        
        <h5>Thyr, Dios del Engaño y el Control</h5>
        <p>Thyr no busca destruir ni construir, sino aprovecharse del caos inherente al mundo. Es el dios de los estrategas y manipuladores, de quienes confían en su astucia para salir adelante. Sus devotos ven las reglas como una herramienta para los necios, y a menudo operan en las sombras, manejando los hilos de grandes conflictos o resolviendo sus propios problemas con tácticas inesperadas.</p>
        <p>El poder de Thyr está diseñado para tomar el control de cualquier situación, ya sea a través de la manipulación directa o el engaño sutil.</p>
        
        <h5>Necrón, Heraldo de la Muerte y el Fin</h5>
        <p>Necro no es un dios en el sentido convencional, peri sí es benerado como tal. Es un heraldo, una entidad que guía la transición entre la vida y la muerte. Su misión no es maligna; es una fuerza inevitable que asegura que el ciclo de la vida continúe. Es venerado por aquellos que aceptan la muerte como parte natural del mundo y por necromantes que buscan el poder de los muertos para cumplir sus objetivos.</p>
        <p>El poder de Necro te conecta con los muertos, permitiéndote controlarlos y usar la esencia de la muerte como arma.</p>
        
        <h5>Cron, Dios del Tiempo y el Destino</h5>
        <p>Cron no es un dios que exija veneración, sino una fuerza que observa desde el principio hasta el final de los tiempos. Cree que el tiempo y el destino son herramientas que los mortales pueden moldear, pero solo aquellos con la fuerza suficiente para soportar las consecuencias. Sus templos son extraños relojes de engranajes eternos y arenas que nunca dejan de fluir.</p>
        <p>Tus habilidades juegan con el flujo del tiempo, permitiéndote manipular eventos para crear ventaja o evitar el desastre.</p>
        
        <h5>Hakari, Dios de la Fortuna</h5>
        <p>Hakari es la encarnación de la suerte en todas sus formas, tanto la gloriosa como la cruel. A menudo representado como un viajero despreocupado con una sonrisa misteriosa, Hari no distingue entre el bien y el mal: simplemente lanza los dados del destino y observa los resultados. Sus seguidores lo veneran como una fuerza impredecible que puede cambiar vidas en un instante, ya sea otorgando riquezas inmensas o hundiendo a los poderosos en la ruina.</p>
        <p>Tus habilidades juegan con la suerte, el azar y las apuestas. Quienes canalizan su magia pueden alterar la fortuna a su favor o sembrar el caos a su alrededor, aunque las consecuencias a menudo son impredecibles.</p>
    
    </body>
</html>