<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wiki</title>
</head>

<body>

    <h1>Wiki de Hechizos</h1>
    <table border="1">
        <tr>
            <th>Hechicero</th>
            <th>Clérigo</th>
            <th>Bardo</th>
            <th>Monje</th>
            <th>Paladín</th>
        </tr>
        <tr>
            <td>
                <ul>
                    {% for hechizo in hechizos['Hechicero'] %}
                        <li><a href="{{ url_for('wiki_hechizo', hechizo_nombre=hechizo['nombre']) }}">{{ hechizo['nombre'] }}</a></li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                <ul>
                    {% for hechizo in hechizos['Clérigo'] %}
                        <li><a href="{{ url_for('wiki_hechizo', hechizo_nombre=hechizo['nombre']) }}">{{ hechizo['nombre'] }}</a></li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                <ul>
                    {% for hechizo in hechizos['Bardo'] %}
                        <li><a href="{{ url_for('wiki_hechizo', hechizo_nombre=hechizo['nombre']) }}">{{ hechizo['nombre'] }}</a></li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                <ul>
                    {% for hechizo in hechizos['Monje'] %}
                        <li><a href="{{ url_for('wiki_hechizo', hechizo_nombre=hechizo['nombre']) }}">{{ hechizo['nombre'] }}</a></li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                <ul>
                    {% for hechizo in hechizos['Paladín'] %}
                        <li><a href="{{ url_for('wiki_hechizo', hechizo_nombre=hechizo['nombre']) }}">{{ hechizo['nombre'] }}</a></li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    </table>

</body>
</html>