<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wiki</title>
    
</head>

<body>
    <h1>Bienvenido a la Wiki de B&B</h1>

    <p>En esta página se explican los pasos a seguir para crear un personaje adaptado al homebrew de B&B.</p>

    <h2><a href="/wiki/razas">Raza</a> y <a href="/wiki/clases">Clase</a></h2>
    <p>Las razas funcionan de forma prácticamente idéntica a las de D&D vanilla, 
        obviando que sus estadísticas están cambiadas y que hay razas nuevas.</p>
    <p>Las clases, por otro lado, han sido cambiadas por completo. Se dividen en 3 principales, 
        Mago, Guerrero y Pícaro, que a su vez se dividen en varias subclases que serían el equivalente a las
        clases vanilla de D&D.</p>
    
    <p>El primer paso para crear un personaje es escoger estas dos cosas, pues son lo que más marca el gameplay del personaje.</p>
</body>

</html>