<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wiki</title>
    
</head>

<body>
    <h1>Bienvenido a la Wiki de B&B</h1>

    <div class="button-container">
        <button onclick="location.href='/wiki/mundo'">Mundo</button>
        <button onclick="location.href='/wiki/habilidades'">Habilidades</button>
        <button onclick="location.href='/wiki/hechizos'">Hechizos</button>
        <button onclick="location.href='/wiki/objetos'">Objetos</button>
        <button onclick="location.href='/wiki/crear_personaje'">Creación de personaje</button>
    </div>
</body>

</html>