<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido - Home</title>
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="icon" href="../static/images/favicon.png" type="image/png">
</head>
<body>
    <div class="navbar">
        <a href="/logout">
            <img src="../static/images/logout.png" alt="Cerrar sesión">
        </a>
    </div>

    <h1 data-text="Bruleria & Bruleria">Bruleria & Bruleria</h1>

    <h2>Bienvenido, {{ session['username'] }}!</h2>
    
    <div class="container">
        <div class="columnexc">
            <h2>Gestión de Fichas</h2>
            <button onclick="location.href='/fichas'" class="gradient-border">
                <span>Ir a Fichas</span>
            </button>
        </div>
        <div class="column">
            <h2>Wiki</h2>
            <div style="display: flex;">
                <div class="maincard">
                    <div class="upcard">
                    <button class="card1">
                        <span style="font-size: 33px;">🌍</span>
                    </button>
                    <button class="card2">
                        <span style="font-size: 33px;">🔧</span>
                    </button>
                    </div>
                    <div class="downcard">
                    <button class="card3">
                        <span style="font-size: 33px;">💫</span>
                    </button>
                    <button class="card4">
                        <span style="font-size: 33px;">💰</span>
                    </button>
                    </div>
                </div>

                <div class="maincard2">
                    <div class="upcard2">
                    <button class="card12">
                        <span style="font-size: 33px;">⚔️</span>
                    </button>
                    <button class="card22">
                        <span style="font-size: 33px;">⚡</span>
                    </button>
                    </div>
                    <div class="downcard2">
                    <button class="card32">
                        <span style="font-size: 33px;">🪖</span>
                    </button>
                    <button class="card42">
                        <span style="font-size: 33px;">🗣️</span>
                    </button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    
   
</body>
</html>

